
.nav-link{
color: white !important;
box-shadow: 0px 8px 15px
rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;

}

.nav-link:hover{
color: white !important;
background-color:#2ceae5;
border-radius: 45px; 
transform: translateY(-3px);
box-shadow: 0px 10px 25px
rgba(46,223,229,0.445);
}


.navbar-brand{
    font-weight: bold;
}


